@import 'shared/styles';

.scalableInput {
  display: flex;
  position: relative;
  overflow: visible;

  width: 100%;
  margin-bottom: $spacing__md;
  border-bottom: .1rem solid $color__grey-40;
  
  &:focus-within {
    border-color: $color__white;
  }
}

.mockInputField {
  display: inline-block;

  min-width: auto;
  padding: $spacing__sm $spacing__sm $spacing__xs $spacing__sm;
  
  white-space: nowrap;
  transform-origin: left bottom;
  
  &:focus {
    outline: none;
  }

  &.hasPlaceholder::before {
    content: attr(data-placeholder);
    position: absolute;
    color: $color__grey-40;
  }
}

.errorMessage {
  position: absolute;

  top: 100%;
  margin-top: .2rem;

  color: #bf6c6c;
  font-size: .8em;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: .1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: .1rem;
}